; Fast Engine
; Enumeration Configuration
; Author: Mario Freire
; Copyright (C) 2012 DSP Interactive. All rights reserved.
; See the website: http://www.dspinteractive.com.br

; [ CAUTION ]
; Change only if necessary
; Any wrong value can damage the game system.
; If you do not understand the configuration, look for a technician who understands of software.

; Fast Engine System - Virtual Machine Configuration
; vars.cfg - system variable values

max_vars=3

sys_vars["INIT"] = "/init"
sys_vars["ROOT"] = "/dev/hd1"
sys_vars["MOUNT_POINT"] = "/"
